.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}
.filters {
  display: flex;
}
@media (max-width: 830px) {
  .wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
